<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<!-- ******************************************************************************
*
* Copyright © Bentley Systems, Incorporated. All rights reserved.
*
****************************************************************************** -->
<plugin id="com.bentley.math-content" version="0.9.0">
    <feature extension="package.version" value="0.9.0"/>
    <feature extension="package.support.name" value="Jason Coleman"/>
    <feature extension="package.support.email" value="jason.coleman@bentley.com"/>
    
    <require plugin="org.dita.pdf2"/>
    <require plugin="org.dita.html5"/>
    <require plugin="fox.jason.extend.css"/>    <!-- necessary to add custom CSS without a new transtype? -->

    <extension-point id="dita.mathml.extensions" name="MathML file extension"/>
    
    <feature extension="dita.conductor.lib.import" file="lib/MathMLToSVG-0.9.0.jar"/>
    
    <!--<feature extension="dita.conductor.lib.import" file="lib/latexToSVG.jar"/>
    <feature extension="dita.conductor.lib.import" file="lib/jlatexmath-1.0.7.jar"/>-->
    <!-- include JEuclid for FOP -->
    <!--<feature extension="dita.conductor.lib.import" file="lib/jeuclid-core-3.1.9.jar"/>
    <feature extension="dita.conductor.lib.import" file="lib/jeuclid-fop-3.1.9.jar"/>-->
    
    <feature extension="dita.conductor.html5.param" file="InsertParams.xml"/>
    <feature extension="ant.import" file="build_mathmlrefs.xml"/>
    <feature extension="dita.xsl.messages" file="resource/messages.xml"/>
    
    <feature extension="depend.preprocess.pre" value="bentley:math-content-init"/>
    <feature extension="depend.preprocess.copy-files.pre" value="bentley:mathmlrefs"/>
    <!--<feature extension="ant.import" file="process_mathjax.xml" />
    <feature extension="depend.preprocess.pre" value="bentley:mathjax.init" />
    <feature extension="depend.preprocess.post" value="bentley:mathjax.post" />-->

    <!--<feature extension="dita.xsl.topicpull"
        value="xsl/topicpullImpl_eqn.xsl"/>--> <!-- not working for PDF? -->

    <feature extension="dita.xsl.xhtml" value="xsl/equation-d.xsl" type="file"/>
    <feature extension="dita.xsl.html5" value="xsl/equation-d.xsl" type="file"/>
    <feature extension="dita.xsl.html5" value="xsl/topic.xsl" type="file"/>
    
    <feature extension="dita.xsl.xslfo" value="xsl/fo/equation-domain.xsl" type="file"/>

    <feature extension="dita.xsl.strings" file="cfg/common/vars/strings.xml"/>
    <feature extension="dita.mathml.extensions" value=".mml"/>
    
    <transtype name="base-html" extends="base-html"
        desc="Math content parameters for HTML output">
        <param name="args.eqnlink.style"
            desc="Specifies how cross references to equations are styled." type="enum">
            <val default="true">abbr</val>
            <val>full</val>
        </param>
        <param name="args.mathml.processing" desc="Specifies method for processing MathML"
            type="enum">
            <val default="true" desc="use MathML mark up in the resulting HTML">none</val>
            <val desc="Use MathJax-Node to pre-render the MathML into SVG">mathjax-pre</val>
            <val desc="Use MathML markup in resulting HTML and add link to local copy of MathJax in footer">mathjax-local</val>
            <val desc="Use MathML markup in resulting HTML and add MathJax CDN in footer">mathjax-cdn</val>
            <!--<val desc="Use JEuclid Java library to pre-render the MathML into SVG">jeuclid</val>-->
        </param>
    </transtype>
    
    <transtype name="pdf" extends="pdf" 
        desc="Math content parameters for PDF output">
        <param name="args.eqnlink.style"
            desc="Specifies how cross references to equations are styled." type="enum">
            <val default="true">full</val>
            <val>abbr</val>
        </param>
        <param name="args.mathml.processing" desc="Specifies method for processing MathML"
            type="enum">
            <val default="true" desc="use MathML mark up in the resulting FO">none</val>
            <val desc="Use MathJax-Node to pre-render the MathML into SVG">mathjax-pre</val>
            <!--<val desc="Use JEuclid Java library to pre-render the MathML into SVG">jeuclid</val>-->
        </param>
    </transtype>
    <feature extension="dita.conductor.html5.toc.param" file="InsertParams.xml"/>
    
    <!-- Use Extend CSS to add math theme stylesheet -->
    <feature extension="extend.css.process.post" value="bentley:math.css"/>
</plugin>
